<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/home/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/home/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Bar (Rectangle) -->
      <div id="u0" class="ax_default box_3" data-label="Bar">
        <div id="u0_div" class=""></div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1" class="ax_default" data-left="27" data-top="4" data-width="260" data-height="55">

        <!-- Movie Hub Text (Rectangle) -->
        <div id="u2" class="ax_default heading_1" data-label="Movie Hub Text">
          <div id="u2_div" class=""></div>
          <div id="u2_text" class="text ">
            <p><span>Movie Hub™ </span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u3" class="ax_default image">
          <img id="u3_img" class="img " src="images/home/u3.gif"/>
        </div>
      </div>

      <!-- Search Bar (Text Field) -->
      <div id="u4" class="ax_default text_field" data-label="Search Bar">
        <input id="u4_input" type="search" value=""/>
      </div>

      <!-- Movie Button (Rectangle) -->
      <div id="u5" class="ax_default button" data-label="Movie Button">
        <div id="u5_div" class=""></div>
        <div id="u5_text" class="text ">
          <p><span>Movies</span></p>
        </div>
      </div>

      <!-- Login Button (Rectangle) -->
      <div id="u6" class="ax_default button" data-label="Login Button">
        <div id="u6_div" class=""></div>
        <div id="u6_text" class="text ">
          <p><span>Login</span></p>
        </div>
      </div>

      <!-- SignUp Button (Rectangle) -->
      <div id="u7" class="ax_default button" data-label="SignUp Button">
        <div id="u7_div" class=""></div>
        <div id="u7_text" class="text ">
          <p><span>Sign Up</span></p>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u8" class="ax_default" data-label="Movie and Title" data-left="77" data-top="717" data-width="200" data-height="392">

        <!-- Unnamed (Image) -->
        <div id="u9" class="ax_default image">
          <img id="u9_img" class="img " src="images/home/u9.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10" class="ax_default heading_1">
          <div id="u10_div" class=""></div>
          <div id="u10_text" class="text ">
            <p><span>Avengers: Infinity War</span></p>
          </div>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u11" class="ax_default" data-label="Movie and Title" data-left="77" data-top="165" data-width="200" data-height="392">

        <!-- Unnamed (Image) -->
        <div id="u12" class="ax_default image">
          <img id="u12_img" class="img " src="images/home/u12.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u13" class="ax_default heading_1">
          <div id="u13_div" class=""></div>
          <div id="u13_text" class="text ">
            <p><span>Rampage</span></p>
          </div>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u14" class="ax_default" data-label="Movie and Title" data-left="427" data-top="165" data-width="200" data-height="392">

        <!-- Unnamed (Image) -->
        <div id="u15" class="ax_default image">
          <img id="u15_img" class="img " src="images/home/u15.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u16" class="ax_default heading_1">
          <div id="u16_div" class=""></div>
          <div id="u16_text" class="text ">
            <p><span>Ready Player One</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u17" class="ax_default heading_1">
        <div id="u17_div" class=""></div>
        <div id="u17_text" class="text ">
          <p><span style="text-decoration:underline;">Popular Movies</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u18" class="ax_default heading_1">
        <div id="u18_div" class=""></div>
        <div id="u18_text" class="text ">
          <p><span style="text-decoration:underline;">Coming Soon</span></p>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u19" class="ax_default" data-label="Movie and Title" data-left="780" data-top="165" data-width="200" data-height="392">

        <!-- Unnamed (Image) -->
        <div id="u20" class="ax_default image">
          <img id="u20_img" class="img " src="images/home/u20.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u21" class="ax_default heading_1">
          <div id="u21_div" class=""></div>
          <div id="u21_text" class="text ">
            <p><span>Blockers</span></p>
          </div>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u22" class="ax_default" data-label="Movie and Title" data-left="1118" data-top="165" data-width="200" data-height="421">

        <!-- Unnamed (Image) -->
        <div id="u23" class="ax_default image">
          <img id="u23_img" class="img " src="images/home/u23.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u24" class="ax_default heading_1">
          <div id="u24_div" class=""></div>
          <div id="u24_text" class="text ">
            <p><span>Sherlock Gnomes</span></p><p><span><br></span></p>
          </div>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u25" class="ax_default" data-label="Movie and Title" data-left="427" data-top="717" data-width="200" data-height="392">

        <!-- Unnamed (Image) -->
        <div id="u26" class="ax_default image">
          <img id="u26_img" class="img " src="images/home/u26.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u27" class="ax_default heading_1">
          <div id="u27_div" class=""></div>
          <div id="u27_text" class="text ">
            <p><span>Solo: A Star Wars Story</span></p>
          </div>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u28" class="ax_default" data-label="Movie and Title" data-left="780" data-top="717" data-width="200" data-height="392">

        <!-- Unnamed (Image) -->
        <div id="u29" class="ax_default image">
          <img id="u29_img" class="img " src="images/home/u29.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u30" class="ax_default heading_1">
          <div id="u30_div" class=""></div>
          <div id="u30_text" class="text ">
            <p><span>Uncle Drew</span></p><p><span><br></span></p>
          </div>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u31" class="ax_default" data-label="Movie and Title" data-left="1118" data-top="717" data-width="200" data-height="495">

        <!-- Unnamed (Image) -->
        <div id="u32" class="ax_default image">
          <img id="u32_img" class="img " src="images/home/u32.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u33" class="ax_default heading_1">
          <div id="u33_div" class=""></div>
          <div id="u33_text" class="text ">
            <p><span>Jurassic World: Fallen Kingdom</span></p><p><span><br></span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
