<!DOCTYPE html>
<html>
  <head>
    <title>Movies Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/movies_page/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/movies_page/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Bar (Rectangle) -->
      <div id="u82" class="ax_default box_3" data-label="Bar">
        <div id="u82_div" class=""></div>
      </div>

      <!-- Movie Hub Text (Rectangle) -->
      <div id="u83" class="ax_default heading_1" data-label="Movie Hub Text">
        <div id="u83_div" class=""></div>
        <div id="u83_text" class="text ">
          <p><span>Movie Hub™ </span></p>
        </div>
      </div>

      <!-- Search Bar (Text Field) -->
      <div id="u84" class="ax_default text_field" data-label="Search Bar">
        <input id="u84_input" type="search" value=""/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u85" class="ax_default image">
        <img id="u85_img" class="img " src="images/home/u3.gif"/>
      </div>

      <!-- Movie Button (Rectangle) -->
      <div id="u86" class="ax_default button" data-label="Movie Button">
        <div id="u86_div" class=""></div>
        <div id="u86_text" class="text ">
          <p><span>Movies</span></p>
        </div>
      </div>

      <!-- Login Button (Rectangle) -->
      <div id="u87" class="ax_default button" data-label="Login Button">
        <div id="u87_div" class=""></div>
        <div id="u87_text" class="text ">
          <p><span>Login</span></p>
        </div>
      </div>

      <!-- SignUp Button (Rectangle) -->
      <div id="u88" class="ax_default button" data-label="SignUp Button">
        <div id="u88_div" class=""></div>
        <div id="u88_text" class="text ">
          <p><span>Sign Up</span></p>
        </div>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u89" class="ax_default">
        <img id="u89_menu" class="img " src="images/movies_page/u89_menu.png" alt="u89_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u90" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u91" class="ax_default menu_item">
            <img id="u91_img" class="img " src="images/movies_page/u91.png"/>
            <div id="u91_text" class="text ">
              <p><span>Date</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u92" class="ax_default menu_item">
            <img id="u92_img" class="img " src="images/movies_page/u92.png"/>
            <div id="u92_text" class="text ">
              <p><span>Genre </span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u93" class="ax_default" data-left="27" data-top="4" data-width="260" data-height="55">

        <!-- Movie Hub Text (Rectangle) -->
        <div id="u94" class="ax_default heading_1" data-label="Movie Hub Text">
          <div id="u94_div" class=""></div>
          <div id="u94_text" class="text ">
            <p><span>Movie Hub™ </span></p>
          </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u95" class="ax_default image">
          <img id="u95_img" class="img " src="images/home/u3.gif"/>
        </div>
      </div>

      <!-- Movie Button (Rectangle) -->
      <div id="u96" class="ax_default button" data-label="Movie Button">
        <div id="u96_div" class=""></div>
        <div id="u96_text" class="text ">
          <p><span>Movies</span></p>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u97" class="ax_default droplist ax_default_hidden" style="display:none; visibility: hidden">
        <select id="u97_input">
          <option value="15/4/2018">15/4/2018</option>
          <option value="16/4/2018">16/4/2018</option>
          <option value="17/4/2018">17/4/2018</option>
        </select>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u98" class="ax_default ax_default_hidden" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- Unnamed (Checkbox) -->
        <div id="u99" class="ax_default checkbox">
          <label for="u99_input" style="position: absolute; left: 0px;">
            <div id="u99_text" class="text ">
              <p><span>Action</span></p>
            </div>
          </label>
          <input id="u99_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u100" class="ax_default checkbox">
          <label for="u100_input" style="position: absolute; left: 0px;">
            <div id="u100_text" class="text ">
              <p><span>Comedy</span></p>
            </div>
          </label>
          <input id="u100_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u101" class="ax_default checkbox">
          <label for="u101_input" style="position: absolute; left: 0px;">
            <div id="u101_text" class="text ">
              <p><span>Drama</span></p>
            </div>
          </label>
          <input id="u101_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u102" class="ax_default checkbox">
          <label for="u102_input" style="position: absolute; left: 0px;">
            <div id="u102_text" class="text ">
              <p><span>Fantasy</span></p>
            </div>
          </label>
          <input id="u102_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u103" class="ax_default checkbox">
          <label for="u103_input" style="position: absolute; left: 0px;">
            <div id="u103_text" class="text ">
              <p><span>History</span></p>
            </div>
          </label>
          <input id="u103_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u104" class="ax_default checkbox">
          <label for="u104_input" style="position: absolute; left: 0px;">
            <div id="u104_text" class="text ">
              <p><span>Romance</span></p>
            </div>
          </label>
          <input id="u104_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u105" class="ax_default checkbox">
          <label for="u105_input" style="position: absolute; left: 0px;">
            <div id="u105_text" class="text ">
              <p><span>Sci-fi</span></p>
            </div>
          </label>
          <input id="u105_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- Unnamed (Checkbox) -->
        <div id="u106" class="ax_default checkbox">
          <label for="u106_input" style="position: absolute; left: 0px;">
            <div id="u106_text" class="text ">
              <p><span>Sport</span></p>
            </div>
          </label>
          <input id="u106_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u107" class="ax_default" data-label="Movie and Title" data-left="317" data-top="113" data-width="200" data-height="392">

        <!-- Unnamed (Image) -->
        <div id="u108" class="ax_default image">
          <img id="u108_img" class="img " src="images/home/u9.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u109" class="ax_default heading_1">
          <div id="u109_div" class=""></div>
          <div id="u109_text" class="text ">
            <p><span>Avengers: Infinity War</span></p>
          </div>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u110" class="ax_default" data-label="Movie and Title" data-left="651" data-top="113" data-width="200" data-height="392">

        <!-- Unnamed (Image) -->
        <div id="u111" class="ax_default image">
          <img id="u111_img" class="img " src="images/home/u26.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u112" class="ax_default heading_1">
          <div id="u112_div" class=""></div>
          <div id="u112_text" class="text ">
            <p><span>Solo: A Star Wars Story</span></p>
          </div>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u113" class="ax_default" data-label="Movie and Title" data-left="1001" data-top="113" data-width="200" data-height="495">

        <!-- Unnamed (Image) -->
        <div id="u114" class="ax_default image">
          <img id="u114_img" class="img " src="images/home/u32.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u115" class="ax_default heading_1">
          <div id="u115_div" class=""></div>
          <div id="u115_text" class="text ">
            <p><span>Jurassic World: Fallen Kingdom</span></p><p><span><br></span></p>
          </div>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u116" class="ax_default" data-label="Movie and Title" data-left="317" data-top="612" data-width="200" data-height="392">

        <!-- Unnamed (Image) -->
        <div id="u117" class="ax_default image">
          <img id="u117_img" class="img " src="images/home/u12.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u118" class="ax_default heading_1">
          <div id="u118_div" class=""></div>
          <div id="u118_text" class="text ">
            <p><span>Rampage</span></p>
          </div>
        </div>
      </div>

      <!-- Movie and Title (Group) -->
      <div id="u119" class="ax_default" data-label="Movie and Title" data-left="651" data-top="612" data-width="200" data-height="392">

        <!-- Unnamed (Image) -->
        <div id="u120" class="ax_default image">
          <img id="u120_img" class="img " src="images/home/u15.jpg"/>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u121" class="ax_default heading_1">
          <div id="u121_div" class=""></div>
          <div id="u121_text" class="text ">
            <p><span>Ready Player One</span></p>
          </div>
        </div>
      </div>

      <!-- Login Button (Rectangle) -->
      <div id="u122" class="ax_default button" data-label="Login Button">
        <div id="u122_div" class=""></div>
        <div id="u122_text" class="text ">
          <p><span>Login</span></p>
        </div>
      </div>

      <!-- SignUp Button (Rectangle) -->
      <div id="u123" class="ax_default button" data-label="SignUp Button">
        <div id="u123_div" class=""></div>
        <div id="u123_text" class="text ">
          <p><span>Sign Up</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
